<script src="{{ '/assets/js/jquery.min.js' | prepend: site.baseurl }}"></script>
<script src="{{ '/assets/bootstrap/js/bootstrap.min.js' | prepend: site.baseurl }}"></script>

{% if page.identifier == 'home' %}
<script src="{{ '/assets/js/jquery.pagescroller.lite.js' | prepend: site.baseurl }}"></script>
{% endif %}

<script src="{{ '/assets/js/device.min.js' | prepend: site.baseurl }}"></script>
<script src="{{ '/assets/js/snap.min.js' | prepend: site.baseurl }}"></script>
<script src="{{ '/assets/js/jquery.appear.js' | prepend: site.baseurl }}"></script>

{% if page.identifier == 'home' %}
<script src="{{ '/assets/js/magnific-popup/jquery.magnific-popup.min.js' | prepend: site.baseurl }}"></script>


<script src="{{ '/assets/js/twentytwenty/jquery.twentytwenty.js' | prepend: site.baseurl }}"></script>
<script src="{{ '/assets/js/twentytwenty/jquery.event.move.js' | prepend: site.baseurl }}"></script>
<script src="{{ '/assets/js/twentytwenty/init.js' | prepend: site.baseurl }}"></script>
{% endif %}

<!-- <script src="{{ '/assets/js/scrollme-master/jquery.scrollme.min.js' | prepend: site.baseurl }}"></script> -->
<script src="{{ '/assets/js/smoothscroll.js' | prepend: site.baseurl }}"></script>

{% if page.identifier == 'home' %}
<script src="http://maps.google.com/maps/api/js?sensor=false"></script>
<script src="{{ '/assets/js/gmaps/gmap3.min.js' | prepend: site.baseurl }}"></script>
{% endif %}

<script src="{{ '/assets/js/ct-mediaSection/jquery.stellar.min.js' | prepend: site.baseurl }}"></script>
<script src="{{ '/assets/js/ct-mediaSection/init.js' | prepend: site.baseurl }}"></script>

<script src="{{ '/assets/js/flexslider/jquery.flexslider-min.js' | prepend: site.baseurl }}"></script>


<!--<script src="{{ '/assets/form/js/contact-form.js' | prepend: site.baseurl }}"></script>-->

<script src="{{ '/assets/js/main.js' | prepend: site.baseurl }}"></script>

<script src="{{ '/assets/js/less.min.js' | prepend: site.baseurl }}"></script>