<div class="ct-topbar ct-topbar--default">
    <div class="container">
        <div class="row">
            <div class="col-sm-6 col-lg-6">
                <div class="text-wrapper">
                    <i class="fa fa-phone"></i>
                    (45) 9985-6510
                </div>
                <div class="text-wrapper">
                    <a href="mailto:gnfabiola@gmail.com"><i class="fa fa-envelope"></i>gnfabiola@gmail.com</a>
                </div>
            </div>
            <div class="col-sm-6 col-lg-6">
                <div class="ct-socials text-right">
                    <a href="https://www.facebook.com/{{ site.facebook_username }}/" target="_blank" data-toggle="tooltip" data-placement="bottom" title="Facebook"><i class="fa fa-facebook"></i></a>
                    <a href="https://instagram.com/fabiolanog/" target="_blank" data-toggle="tooltip" data-placement="bottom" title="Instagram"><i class="fa fa-instagram"></i></a>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="ct-navbarMobile">
    <div class="navbar-header">
        <a class="navbar-brand" href="/">
            <img class="ct-logo-navbar--transparent" src="{{ '/assets/images/logo.png' | prepend: site.baseurl }}" alt="">
            <img class="ct-logo-navbar--solid" src="{{ '/assets/images/logo-solid.png' | prepend: site.baseurl }}" alt="">
        </a>
    </div>
    <button type="button" class="navbar-toggle">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
    </button>
</div>
<div class="ct-menuMobile">
    <ul class="ct-menuMobile-navbar">
        <li ><a href="{{ '/#header' | prepend: site.baseurl }}">Início</a></li>
        <li ><a href="{{ '/#about' | prepend: site.baseurl }}">Sobre</a></li>
        <li ><a href="{{ '/#services' | prepend: site.baseurl }}">Serviços</a></li>
        <li ><a href="{{ '/#works' | prepend: site.baseurl }}">Portfolio</a></li>
        <li ><a href="{{ '/#clients' | prepend: site.baseurl }}">Depoimentos</a></li>
        <li class="dropdown "><a href="{{ '/#contact' | prepend: site.baseurl }}">Contato</a>
            <ul class="dropdown-menu">
                <li>
                    <span>De Segunda a Segunda</span>
                    <p>Somente Horário Marcado</p>
                </li>
            </ul>
        </li>
        <li ><a href="{{ '/blog/index.html' | prepend: site.baseurl }}">Blog</a></li>
    </ul>
</div>

<!--
<header>
    <h1 id="logo"><a href="{{ '/' | prepend: site.baseurl }}">{{site.title}}</a></h1>
    <div class="centered">
        <div id="nav-button"> <a href="/#"><span class="nav-bar"></span><span class="nav-bar"></span><span class="nav-bar"></span></a> </div>
    </div>
    <div id="responsive-nav">
        <nav id="options" class="clearfix">
            <ul id="nav">
                <li><a href="{{ '/' | prepend: site.baseurl }}" class="{% if page.selected_menu == 'home' %}selected{% endif %}">Home<span class="icons start"></span></a></li>
                <li><a href="{{ '/portfolio.html' | prepend: site.baseurl }}" class="{% if page.selected_menu == 'portfolio' %}selected{% endif %}">Portfolio<span class="icons portfolio"></span></a></li>
                <li><a href="{{ '/servicos.html' | prepend: site.baseurl }}" class="{% if page.selected_menu == 'servicos' %}selected{% endif %}">Serviços<span class="icons services"></span></a></li>
                <li><a href="{{ '/blog.html' | prepend: site.baseurl }}" class="{% if page.selected_menu == 'blog' %}selected{% endif %}">Blog<span class="icons blog"></span></a></li>
                <li><a href="{{ '/contact.html' | prepend: site.baseurl }}" class="{% if page.selected_menu == 'contact' %}selected{% endif %}">Contato<span class="icons contact"></span></a></li>
            </ul>
        </nav>
        <div id="bottom" class="centered">
            <ul class="social clearfix">
                <li class="facebook"><a href="https://www.facebook.com/{{site.facebook_username}}" target="_blank">Visitar Página do Facebook</a></li>
            </ul>
            <p class="small"> © 2015, Fabíola Nogueira.<br/>Todos os direitos reservados.</p>
        </div>
    </div>
</header>
-->