<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
    <meta name="description" content="{{ site.description }}" />

    <link rel="shortcut icon" href="{{ '/favicon.ico' | prepend: site.baseurl }}">
    <link rel="apple-touch-icon" href="{{ '/apple-touch-icon.png' | prepend: site.baseurl }}">
    <link rel="apple-touch-icon" sizes="72x72" href="{{ '/apple-touch-icon-72x72.png' | prepend: site.baseurl }}">
    <link rel="apple-touch-icon" sizes="114x114" href="{{ '/apple-touch-icon-114x114.png' | prepend: site.baseurl }}">

    <link rel="stylesheet" type="text/css" href="{{ '/assets/css/bootstrap.css' | prepend: site.baseurl }}">
    <link rel="stylesheet" type="text/css" href="{{ '/assets/css/style.css' | prepend: site.baseurl }}">
    <link rel="stylesheet" type="text/css" href="{{ '/assets/css/makeup.css' | prepend: site.baseurl }}">


    <!--[if lt IE 9]>
    <script src="{{ '/assets/bootstrap/js/html5shiv.min.js' | prepend: site.baseurl }}"></script>
    <script src="{{ '/assets/bootstrap/js/respond.min.js' | prepend: site.baseurl }}"></script>
    <![endif]-->

    <script src="{{ '/assets/js/modernizr.custom.js' | prepend: site.baseurl }}"></script>

    <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}" />
</head>