---
layout: root
---
<nav class="navbar ct-navbar--transparent ct-navbar--stickyToTop ct-navbar--withTopbar" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="{{ '/' | prepend: site.baseurl }}">
                <img class="ct-logo-navbar--transparent" src="{{ '/assets/images/logo.png' | prepend: site.baseurl }}"  alt="">
                <img class="ct-logo-navbar--solid" src="{{ '/assets/images/logo-solid.png' | prepend: site.baseurl }}"  alt="">
            </a>
        </div>
        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav navbar-right">
                <li class="onepage"><a href="#header">Início</a></li>
                <li class="onepage"><a href="#about">Sobre</a></li>
                <li class="onepage"><a href="#services">Serviços</a></li>
                <li class="onepage"><a href="#works">Portfolio</a></li>
                <li class="onepage"><a href="#clients">Depoimentos</a></li>
                <li class="dropdown onepage"><a href="#contact">Contato</a>
                    <ul class="dropdown-menu ">
                        <li>
                            <span>De Segunda a Segunda</span>
                            <p>Somente Horário Marcado</p>
                        </li>
                    </ul>
                </li>
                <li ><a href="{{ '/blog/index.html' | prepend: site.baseurl }}">Blog</a></li>
            </ul>
        </div>
    </div>
</nav>

{{content}}
